<div class="page-wrapper p-0" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="card auth-card mb-0 mx-3">

                <div class="card-body">

                    <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="img/admin.png" alt="admin icon" class="heading-icon">
                        <h2>Admin Login</h2>
                    </a>


                    <form action="/admin" method="POST">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input class="form-check-input primary" type="checkbox" name="remeberme" value=""
                                    id="flexCheckChecked" checked>
                                <label class="form-check-label text-dark" for="flexCheckChecked">
                                    Remeber this Device
                                </label>
                            </div>
                            <a class="text-primary fw-bold" href="">Forgot Password ?</a>
                        </div>

                        <button class="btn btn-primary w-100 fs-4 mb-4" type="submit" name="submit" value="Login">Sign
                            In</button>
                    </form>


                </div>


            </div>
        </div>
    </div>
</div>