<div class="page-wrapper p-0" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="card auth-card mb-0 mx-3">

                <div class="card-body">

                    <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                        <img src="img/user.png" alt="user icon" class="heading-icon">
                        <h2>Create an Account</h2>
                    </a>


                    <form action="/add_user" method="POST" onsubmit="return validateRegisterForm()">
                        <!-- Your form inputs -->
                        <div class="mb-3">
                            <label for="exampleInputtext1" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="exampleInputtext1">
                            <span id="nameError" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="text" name="email" class="form-control" id="exampleInputEmail1">
                            <span id="emailError" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputMobile" class="form-label">Mobile Number</label>
                            <input type="text" name="mobileNo" class="form-control" id="exampleInputMobile">
                            <span id="mobileError" class="text-danger"></span>
                        </div>

                        <div class="mb-5">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                            <span id="passwordError" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center w-100">
                            <button class="btn btn-primary w-50 fs-4 mb-4" type="submit" name="submit"
                                value="sign in">Create Account</button>
                        </div>

                        <div class="d-flex align-items-center justify-content-center">
                            <p class="fs-4 mb-0 fw-bold">Already have an account?</p>
                            <a class="text-primary fw-bold ms-2" href="/">Sign In</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>